<% content_for :content do %>
	<% case @profile.class.to_s %>
	<% when 'Profile' %>
	<%= form_for(@profile) do |f| %>
		<h4>Información básica</h4>
        <hr />
        	<dl id="mydata">
                <dt><p><%= t('user.labels.full_name') %></p></dt>
                <dd><p><%= @current_user.profile.first_name + " " + @current_user.profile.last_name %></p>
				<p><%= f.check_box("last_name_show", :checked => @current_user.profile.last_name_show) %> <%= t('user.labels.show_my_full_name') %></p>
				</dd>
                <div class="clearfix"></div>
                <dt><p><%= f.label :gender, t('user.labels.gender') %></p></dt>
                <dd><p>
				<% if @current_user.profile.gender == true %>
					<%= radio_button(:profile, :gender, "false", :checked => false) %> <%= t('user.labels.male') %>
					<%= radio_button(:profile, :gender, "true", :checked => true) %> <%= t('user.labels.female') %>
				<% else %>
					<%= radio_button(:profile, :gender, "false", :checked => true) %> <%= t('user.labels.male') %>
					<%= radio_button(:profile, :gender, "true", :checked => false) %> <%= t('user.labels.female') %>
				<% end %>
				</p>
                <p><%= f.check_box("gender_show", :checked => @current_user.profile.gender_show) %><%= t('user.labels.show_in_my_profile') %></dd>
                <div class="clearfix"></div>
                <dt><%= f.label :birthday, t('user.labels.birthday') %></dt>
                <dd><p>
                <%= f.date_select :birthday, :default => @current_user.profile.birthday, :start_year => Date.current.year, :end_year => Date.current.year - 100 %>
                </p>
                <p><% birthday_options = { t('user.labels.birthday_full') => 0, t('user.labels.birthday_only_day_month') => 1, t('user.labels.birthday_no_show')=> 2} %>
				<%= select(:profile, :birthday_show, birthday_options, :selected => @current_user.profile.birthday_show )%></p>
				<p><% horoscope_options = { t('user.labels.horoscope_show') => 1, t('user.labels.horoscope_no_show') => 0 }%>
				<%= select(:profile, :horoscope_show, horoscope_options, :selected => @current_user.profile.birthday_show )%></p>
                </dd>
                <div class="clearfix"></div>
                <dt><%= t('user.labels.birthday_country') %></dt>
                <dd>
                <% if @current_profile.location.nil? or @current_profile.location == "" %>
                <p id="country"><%= localized_country_select(:profile, :country, [], :include_blank => 'Por favor selecciona...', :class=> "w300") %></p>
                <p id="stateprov" style="display:none">
                <% else %>
                <p id="country" style="display:none"><%= localized_country_select(:profile, :country, [@current_profile.country], :class=> "w300") %></p>
                <p id="actual_country"><%= Hash[LocalizedCountrySelect::localized_countries_array].invert[@current_profile.country] %><br />
                <%= Geoname.complete_text(@current_profile.location) %>  <a href="#" id="change_country">(Cambiar)</a></p>
                <p id="stateprov" style="display:none">
                <% end %>
                <% if @current_profile.location.nil? or @current_profile.location == "" %>
                  <%= text_field :profile, :location, :class=>"w500 text" %>
                <% else%>
                  <%= text_field :profile, :location, :class=>"w500 text", :value => Geoname.complete_text(@current_profile.location) %>
                <% end %>
                </p>
                </dd>
                <div class="clearfix"></div>
                <dt>Crencias religiosas</dt>
                <dd><p><%= f.text_field :religion, :class => "w300", :maxlength => 50 , :value => @current_user.profile.religion %></p>
                <p><%= f.check_box("religion_show", :checked => @current_user.profile.religion_show) %><%= t('user.labels.show_in_my_profile') %></p></dd>
                <div class="clearfix"></div>
                <dt>Estado Civil</dt>
                <dd><p><% if @current_user.profile.gender == true 
				civil_status_options = { t('user.labels.civil_no_show') => 0, t('user.labels.single_female') => 1, t('user.labels.inrelation') => 2, t('user.labels.married_female') => 3, t('user.labels.divorced_female') => 4, t('user.labels.widow_female') => 5}
				else
				civil_status_options = {t('user.labels.civil_no_show') => 0, t('user.labels.single_male') => 1, t('user.labels.inrelation') => 2, t('user.labels.married_male') => 3, t('user.labels.divorced_male') => 4, t('user.labels.widow_male') => 5}
				end %>
				<%= select(:profile, :civil_state, civil_status_options, :selected => @current_user.profile.civil_state) %>
				</p></dd>
                <div class="clearfix"></div>
            </dl>
            <h4>Sobre mi</h4>
            <hr />
            <dl id="mydata">
               <dt>Sobre mi</dt>
               <dd><p><%= f.text_area :about_me, {:class=>"w450 h200 ml10 mr10", :value=> @current_user.profile.about_me }%></p></dd>
               <div class="clearfix"></div>
               <dt>Cómo soy</dt>
               <dd><p><%= f.text_area :own_definition, {:class=>"w450 h200 ml10 mr10", :value => @current_user.profile.own_definition } %></p></dd>
               <div class="clearfix"></div>
               <dt>Qúe busco</dt>
               <dd><p><%= f.text_area :searching_for, {:class=> "w450 h200 ml10 mr10", :value => @current_user.profile.searching_for }%></p></dd>
               <div class="clearfix"></div>
            </dl>
            <div class="right tright mb20 mr10"><%= f.submit "Guardar"%></div>
	<% end %>
	<% when 'PProfile'%>
	<% end %>
<% end %>

<% content_for :head do %>
	<%= stylesheet_link_tag "textbox/TextboxList", :media => "screen" %>
	<%= stylesheet_link_tag "textbox/TextboxList.Autocomplete", :media => "screen" %>
	<%= javascript_include_tag "textbox/GrowingInput" %>
	<%= javascript_include_tag "textbox/TextboxList" %>
	<%= javascript_include_tag "textbox/TextboxList.Autocomplete" %>
	<%= javascript_include_tag "textbox/TextboxList.Autocomplete.Binary" %>
	<style type="text/css" media="screen">
		.form_tags { margin-bottom: 10px; }
		.textboxlist { width: 480px; }
		.textboxlist-loading { background: url('/images/textbox/spinner.gif') no-repeat 460px center; }
		.form_friends .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; }
		.form_friends .textboxlist-autocomplete-result img { float: left; padding-right: 10px; }
		input.textboxlist-bit-editable-input { border-color: #fff; margin: 0; padding: 0;}
	</style>
<% end %>

<% content_for :javascript do %>

$(document).ready(function() {


  //var box = new $.TextboxList('#profile_location', {unique: true, plugins: {autocomplete: { placeholder: "Escribe para obtener sugerencias" }}});

	//box.getContainer().addClass('textboxlist-loading');				
	//var country = $("#profile_country").val();

  $("#profile_location").textboxlist({unique: true, max: 1,
    plugins: {
      autocomplete: {
        placeholder: "Escribe para obtener sugerencias",
        minLength: 2,
        queryRemote: true,
        remote: { url: '/my/localization.json?country=' + $("#profile_country").val() }
    }}});

  $("#profile_country").change(function() {
    $("p#stateprov").slideDown();
  });
  $("#profile_country").focusout(function() {
    $("p#stateprov").slideDown();
  });

  $("#profile_country").change(function() {
    $("div.textboxlist").hide();
    $("#profile_location").textboxlist({unique: true, max: 1,
      plugins: {
        autocomplete: {
          placeholder: "Escribe para obtener sugerencias",
          minLength: 3,
          queryRemote: true,
          remote: { url: '/my/localization.json?country=' + $("#profile_country").val() }
      }}});
  });

  $("a#change_country").click(function(){
    $("p#country").show();
    $("p#actual_country").hide();
  })

});



<% end %>
