<% content_for :content do %>
	<div class="clearfix mt20 mb20 left">
	<%= simple_form_for @profile do |f| %>

	    <%= f.input :profilename %>
	    <%= f.input :first_name, :hint => "Escribe tu nombre." %>
	    <%= f.input :last_name, :hint => "Escribe tus apellidos." %>
		<%= f.input :birthday, :as => :date, :start_year => Date.today.year - 100, :end_year => Date.today.year %>
		<%= f.label :gender %>
		<%= f.collection_radio :gender, [[0, "Hombre"], [1, "Mujer"]], :first, :last %>
		<div class="clear input optional">
			<label class="string optional">Lugar de nacimiento:</label>
			<%= localized_country_select(:profile, :country, [], :include_blank => 'Por favor selecciona...')%>
		</div>
    <div id="stateprov" style="display:none">
      <%= text_field :profile, :location, :class=>"w500 text" %>
    </div>



		
		<div class="clear input optional">
		<label class="string optional">Tendencias:</label>
		<% @tendencies.each do |t| %>
			<%= check_box("t", "#{t.id.to_s}") %> <%= t.name[session['locale']] %><br />
		<% end %>
		</div>
		<div class="clear"></div>
		<%= f.button :submit %>

	<% end %>
	</div>
	
<% end %>
	

<% content_for :side do %>
	Aquí irá la ayuda
<% end %>

<% content_for :head do %>
	<%= stylesheet_link_tag "textbox/TextboxList", :media => "screen" %>
	<%= stylesheet_link_tag "textbox/TextboxList.Autocomplete", :media => "screen" %>
	<%= javascript_include_tag "textbox/GrowingInput" %>
	<%= javascript_include_tag "textbox/TextboxList" %>
	<%= javascript_include_tag "textbox/TextboxList.Autocomplete" %>
	<%= javascript_include_tag "textbox/TextboxList.Autocomplete.Binary" %>
	<style type="text/css" media="screen">
		.form_tags { margin-bottom: 10px; }
		.textboxlist { width: 490px; }
		.textboxlist-loading { background: url('/images/textbox/spinner.gif') no-repeat 460px center; }
		.form_friends .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; }
		.form_friends .textboxlist-autocomplete-result img { float: left; padding-right: 10px; }
		input.textboxlist-bit-editable-input { border-color: #fff; margin: 0; padding: 0;}
	</style>
<% end %>

<% content_for :javascript do %>
$(document).ready(function() {
  $("#profile_country").change(function() {
    $("div.textboxlist").hide();
    $("div#stateprov").slideDown();
    $("#profile_location").textboxlist({unique: true, max: 1,
      plugins: {
        autocomplete: {
          placeholder: "Escribe para obtener sugerencias",
          minLength: 3,
          queryRemote: true,
          remote: { url: '/my/localization.json?country=' + $("#profile_country").val() }
      }}});
  });
});
<% end %>