<% content_for :content do %>
	<div class="clearfix mt20 mb20 left">
	<%= simple_form_for @profile do |f| %>

	    <%= f.input :profilename %>
	    <%= f.input :first_name, :hint => "Escribe tu nombre." %>
	    <%= f.input :last_name, :hint => "Escribe tus apellidos." %>
		<%= f.input :birthday, :as => :date, :start_year => Date.today.year - 100, :end_year => Date.today.year %>
		<%= f.label :gender %>
		<%= f.collection_radio :gender, [[0, "Hombre"], [1, "Mujer"]], :first, :last %>
		<div class="clear input optional">
			<label class="string optional">País de origen:</label>
			<%= localized_country_select('c', 'country', [], :include_blank => 'Por favor selecciona...')%>
		</div>
		<div id="adm1" class="clear input optional" style="display:none;">
			<label class="string optional" id="l_adm1"></label>
			<select id="c_adm1" name="c[adm1]"></select>
		</div>
		<div id="adm2" class="clear input optional" style="display:none;">
			<label class="string optional" id="l_adm2"></label>
			<select id="c_adm2" name="c[adm2]"></select>
		</div>
		<div id="adm3" class="clear input optional" style="display:none;">
			<label class="string optional" id="l_adm3"></label>
			<select id="c_adm3" name="c[adm3]"></select>
		</div>
		<div id="adm4" class="clear input optional" style="display:none;">
			<label class="string optional" id="l_adm4"></label>
			<select id="c_adm4" name="c[adm4]"></select>
		</div>
		
		<div class="clear input optional">
		<label class="string optional">Tendencias:</label>
		<% @tendencies.each do |t| %>
			<%= check_box("t", "#{t.id.to_s}") %> <%= t.name[session['locale']] %><br />
		<% end %>
		</div>
		<div class="clear"></div>
		<%= f.button :submit %>

	<% end %>
	</div>
	
<% end %>
	

<% content_for :side do %>
	Aquí irá la ayuda
<% end %>

<% content_for :javascript do %>
	$("#c_country").change(function() {
		if($(this).val() == "") {
			$("div#adm1").hide();
			$("div#adm2").hide();
			$("div#adm3").hide();
			$("div#adm4").hide();
		} else { 
			$("div#adm1").fadeIn(400);
			$("div#adm2").hide();
			$("div#adm3").hide();
			$("div#adm4").hide();
			$.getJSON("/my/map.json", {country: $(this).val(), query: 'ADM1'}, function(data) {
				var options = '<option value="">selecciona...</option>';
				$.each(data, function(key, value) {
					options += '<option value="' + key + '">' + value + '</option>';
				});
				$("#c_adm1").html(options);
			});
		}
	});
	$("#c_adm1").change(function() {
		if($(this).val() == "") {
			$("div#adm2").hide();
			$("div#adm3").hide();
			$("div#adm4").hide();
		} else {
			$("div#adm2").fadeIn(400);
			$("div#adm3").hide();
			$("div#adm4").hide();
			$.getJSON("/my/map.json", {country: $("#c_country").val(), query: 'ADM2', adm1: $("#c_adm1").val()}, function(data) {
				var options = '<option value="">selecciona...</option>';
				$.each(data, function(key, value) {
					options += '<option value="' + key + '">' + value + '</option>';
				});
				alert(options);
				$("#c_adm2").html(options);
			});
		}
	});
	$("#c_adm2").change(function() {
		if($(this).val() == "") {
			$("div#adm3").hide();
			$("div#adm4").hide();
		} else {
			$("div#adm3").fadeIn(400);
			$("div#adm4").hide();
			$.getJSON("/my/map.json", {country: $("#c_country").val(), query: 'ADM3', adm1: $("#c_adm1").val(), adm2: $("#c_adm2").val()}, function(data) {
				var options = '<option value="">selecciona...</option>';
				$.each(data, function(key, value) {
					options += '<option value="' + key + '">' + value + '</option>';
				});
				$("#c_adm3").html(options);
			});
		}
	});
	$("#c_adm3").change(function() {
		if($(this).val() == "") {
			$("div#adm4").hide();
		} else {
			$("div#adm4").fadeIn(400);
			$.getJSON("/my/map.json", {country: $("#c_country").val(), query: 'ADM4', adm1: $("#c_adm1").val(), adm2: $("#c_adm2").val(), adm3: $("#c_adm3").val()}, function(data) {
				var options = '<option value="">selecciona...</option>';
				$.each(data, function(key, value) {
					options += '<option value="' + key + '">' + value + '</option>';
				});
				$("#c_adm4").html(options);
			});
		}
	});
<% end %>