<div class="w950 p10 color8 fcolor1 radius4 mb10">
	<div class="left">
		<span class="f130" style="line-height:26px; overflow:hidden;"><%= @tendency.name[session['locale']] %></span>
	</div>
	<div class="right">
		<ul class="ta mb0">
			<% if controller_name == 'tendencies' and action_name == 'show' %>
				<%= content_tag(:li, link_to('Novedades', tendencies_show_url(:name => @tendency.slug)), :class => ['radius4', 'active']) %>
			<% else %>
				<%= content_tag(:li, link_to('Novedades', tendencies_show_url(:name => @tendency.slug)), :class => 'radius4') %>
			<% end %>
			<% if controller_name == 'tendencies' and action_name == 'members' %>
				<%= content_tag(:li, link_to('Miembros', tendencies_members_url(:name => @tendency.slug)), :class => ['radius4', 'active']) %>
			<% else %>
				<%= content_tag(:li, link_to('Miembros', tendencies_members_url(:name => @tendency.slug)), :class => 'radius4') %>
			<% end %>
			<% if controller_name == 'tendencies' and action_name == 'blogs' %>
				<%= content_tag(:li, link_to('Artículos', tendencies_blogs_url(:name => @tendency.slug)), :class => ['radius4', 'active']) %>
			<% else %>
				<%= content_tag(:li, link_to('Artículos', tendencies_blogs_url(:name => @tendency.slug)), :class => 'radius4') %>
			<% end %>
			<% if controller_name == 'tendencies' and action_name == 'groups' %>
				<%= content_tag(:li, link_to('Grupos', tendencies_groups_url(:name => @tendency.slug)), :class => ['radius4', 'active']) %>
			<% else %>
				<%= content_tag(:li, link_to('Grupos', tendencies_groups_url(:name => @tendency.slug)), :class => 'radius4') %>
			<% end %>
			<% if controller_name == 'tforum' %>
				<%= content_tag(:li, link_to('Foro', tendencies_forum_url(:name => @tendency.slug)), :class => ['radius4', 'active']) %>
			<% else %>
				<%= content_tag(:li, link_to('Foro', tendencies_forum_url(:name => @tendency.slug)), :class => ['radius4']) %>
			<% end %>
		</ul>
	</div>
	<div class="clear"></div>
</div>