<%= form_for(@blog, :url => blog_update_url(:slug => @blog.slug)) do |f| %>

<p><%= f.label :title %><br />
<%= f.text_field :title, :class=> 'w620' %></p>

<p><%= f.text_area :body, :class=> 'w620 h400' %></p>

<div class="clearfix left">
	<% @tendencies.each do |t| %>
		<% if t.connected?('BTend', @blog) %>
			<%= check_box("t", "#{t.id.to_s}", :checked => true) %> <%= t.name[session['locale']] %><br />
		<% else %>
			<%= check_box("t", "#{t.id.to_s}") %> <%= t.name[session['locale']] %><br />
		<% end %>
	<% end %>
</div>
<div class="clearfix tright"><p><%= f.check_box :privacy, {}, true, false %><%= f.label :privacy %> · <%= f.check_box :published, {}, true, false %><%= f.label :published %></p></div>
<div class="right"><%= f.submit  %></div>
<% end %>