<%
	case controller_name
	when "notifications"
		l_not = true
	when "messages"
		l_mai = true
		case action_name
		when "inbox"
			l_inb = true
		when "outbox"
			l_out = true
		when "new"
			l_mai_new = true
		end
	when "pendings"
		l_fri = true
		case action_name
		when "index"
			l_fri_pet = true
		when "requested"
			l_fri_req = true
		when "invite"
			l_fri_sea = true
		end
	when "groups"
		l_gro = true
		case action_name
		when "browse"
			l_gro_ind = true
		when "new"
			l_gro_new = true
		end
	when "blogs"
		l_art = true
		case action_name
		when "index"
			l_art_ind = true
		when "new"
			l_art_new = true
		end
	when "events"
		l_cal = true
		case action_name
		when "my_events"
			l_cal_ind = true
		when "my_events_new"
			l_cal_new = true
		end
	when "profile"
		l_pro = true
	when "portrait"
		l_pho = true
	end
%>

<ul class="my_menu">
	<li class="my_notifications my_back <%= l_not == true ? "active" : "" %>">
		<%= link_to "Notificaciones", "#" %>
		<span id="notifications_unreaded" class="notifications">0</span>
	</li>
	<li class="my_messages my_back <%= l_mai == true ? "active" : "" %>">
		<%= link_to "Mensajes", messages_inbox_url %>
	</li>
</ul>
<ul class="my_messages_menu my_sub_menu">
	<li class="my_messages_inbox my_back <%= l_mai == true and l_inb == true ? "active" : "" %>">
		<%= link_to "Recibidos", messages_inbox_url %>
		<span id="inbox_unreaded" class="notifications"><%#= @current_user.inbox.unread.to_s %></span>
	</li>
	<li class="my_messages_outbox my_back <%= l_mai == true and l_out == true ? "active" : "" %>">
		<%= link_to "Enviados", messages_outbox_url %>
	</li>
	<li class="my_messages_new my_back <%= l_mai == true and l_mai_new == true ? "active" : "" %>">
		<%= link_to "Enviar mensaje", message_new_url %>
	</li>
</ul>
<ul class="my_menu my_back">
	<li class="my_friends my_back <%= l_fri == true ? "active" : "" %>">
		<%= link_to "Amigos", "#" %>
	</li>
</ul>
<ul class="my_friends_menu my_sub_menu">
	<li class="my_friends_requests my_back <%= l_fri == true and l_fri_pet == true ? "active" : "" %>">
		<%= link_to "Solicitudes", friend_requests_url %>
		<span id="friends_requests" class="notifications"><%#= Friendship.my_pending(@current_user) %></span>
	</li>
	<li class="my_friends_pending my_back <%= l_fri == true and l_fri_req == true ? "active" : "" %>">
		<%= link_to "Tus Peticiones", friend_requested_url %>
		<span id="friends_requested" class="notifications"><%#= Friendship.my_requests(@current_user) %></span>
	</li>
	<li class="my_friends_search my_back <%= l_fri == true and l_fri_sea == true ? "active" : "" %>">
		<%= link_to "Invitaciones", "#" %>
	</li>
</ul>
<ul class="my_menu">
	<li class="my_groups my_back <%= l_gro == true ? "active" : "" %>">
		<%= link_to "Grupos", groups_show_url %>
	</li>
</ul>
<ul class="my_groups_menu my_sub_menu">
	<li class="my_groups_member my_back <%= l_gro == true and l_gro_ind == true ? "active" : "" %>">
		<%= link_to "Mis grupos", groups_show_url %>
	</li>
	<li class="my_groups_new my_back <%= l_gro == true and l_gro_new == true ? "active" : "" %>">
		<%= link_to "Crear grupo", group_new_url %>
	</li>
</ul>
<ul class="my_menu">
	<li class="my_blog my_back <%= l_art == true ? "active" : "" %>">
		<%= link_to "Artículos", blog_my_url %>
	</li>
</ul>
<ul class="my_blog_menu my_sub_menu">
	<li class="my_blog_browse my_back <%= l_art == true and l_art_ind == true ? "active" : "" %>">
		<%= link_to "Mis artículos", blog_my_url %>
	</li>
	<li class="my_blog_new my_back <%= l_art == true and l_art_new == true ? "active" : "" %>">
		<%= link_to "Nuevo artículo", blog_new_url %>
	</li>
</ul>
<ul class="my_menu">
	<li class="my_events my_back <%= l_cal == true ? "active" : "" %>">
		<%= link_to "Agenda", profile_my_events_url %>
	</li>
</ul>
<ul class="my_events_menu my_sub_menu">
	<li class="my_events_browse my_back <%= l_cal == true and l_cal_ind == true ? "active" : "" %>">
		<%= link_to "Mi agenda", profile_my_events_url %>
	</li>
	<li class="my_events_new my_back <%= l_cal == true and l_cal_new == true ? "active" : "" %>">
		<%= link_to "Nuevo evento", profile_my_events_new_url %>
	</li>
</ul>
<ul class="my_menu">
	<li class="my_settings my_back <%= l_pro == true ? "active" : "" %>">
		<%= link_to "Mis datos", profile_edit_url %>
	</li>
</ul>